
  .video-drawer{
    position: absolute;
    z-index: 1;
    bottom: -3.5rem;
    right: 1rem;
    font-size: 1.2rem;
    row-gap: 10px;
    background-color: var(--primary-color);
    color: var(--light-grey);
    font-weight: 600;
    height: min-content;
    align-items: flex-start;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
}

.kebab-item{
  display: flex;
  width: 100%;
  height: 100%;
}

.kebab-item:hover{
 color: var(--white);
}