.video-desc{
    width: 90%;
    margin: auto;
    margin-top: 15px;
}
.desc{
    margin-bottom: 4rem;
}
.spc-bw{
    display: flex;
    justify-content: space-between;
}

.fa-list-check::before {
    content: '\f0ae';
}
.fa-clock-rotate-left::before {
    content: '\f1da';
}
.video-actions{
    padding-right: 1.5rem;
    font-size: 1.5rem;
    display: flex;
    gap: 20px;
    cursor: pointer;
}
.video-header{
    display: flex;
    gap: 10px;

}